{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Home{% endblock %}

{% block content %}
<div class='container'>
    <h1>Upload Passwords</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        <button type="submit">Submit</button>
    </form>
    
    
    <h2>Saved Passwords</h2>
    <ul>
        {% for password in passwords %}
            <li>{{ password }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'convert_passwords' %}">Update Hashes</a>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const choiceFields = document.querySelectorAll('input[name="choice"]');
            const inputField = document.getElementById('id_password_input').parentElement;
            const textareaField = document.getElementById('id_password_text_area').parentElement;
            const fileField = document.getElementById('id_password_file').parentElement;

            function updateFieldVisibility() {
                inputField.style.display = 'none';
                textareaField.style.display = 'none';
                fileField.style.display = 'none';

                const selectedValue = document.querySelector('input[name="choice"]:checked').value;

                if (selectedValue === 'input') {
                    inputField.style.display = 'block';
                } else if (selectedValue === 'textarea') {
                    textareaField.style.display = 'block';
                } else if (selectedValue === 'file') {
                    fileField.style.display = 'block';
                }
            }

            choiceFields.forEach(field => {
                field.addEventListener('change', updateFieldVisibility);
            });

            // Initialize visibility on page load
            updateFieldVisibility();
        });
    </script>
</div>
</html>

{% endblock %}